<div ng-app="angularApp" ng-controller="VehiculesCtrl">
  <p>Sur cette carte, on peut voir tous les véhicules (libres ou occupés)</p>
  <div id="map"></div>

  <div class="legend">
    <p><img ng-src="images/marker1.png" alt="Libre"/>Le véhicule est libre</p>
    <p><img ng-src="images/marker2.png" alt="Occupe"/>Le véhicule est occupé</p>
  </div>

  <br/>
  <a class="btn btn-primary" href="#/vehicules/new">Ajouter un Vehicule</a>
  <br/>

  <div class="list-group" ng-repeat="info in infos">
  	<div id="{{info.id}}" class="well vehicule_info" hidden>
      <p>
       id : {{info.id}} </br>
       RFID : {{info.RFID}} </br>
       Disponibilite : {{info.Disponibilite}} </br>
       Categorie : {{info.categorie}} </br>
       Type Vehicule : {{info.type_vehicule}} </br>
       Etat batterie : {{info.batterie}} </br>
     </p>
     <a class="btn btn-info" href="#/vehicules/edit/{{info.id}}">Editer</a>
     <a class="btn btn-danger" data-ng-click="delete({{info.id}});">Supprimer</a>
   </div>
 </div>
</div>