<div class="user-container" id="top">
  <h1>Liste des clients enregistrés</h1>
  <!-- <ul class="clients"> -->
    <div class="well" ng-repeat="c in clients track by $index">
      <div class="row">
        <div class="col-md-8">
          <a ng-href="#/clients/{{c.idClient}}"><h4>{{c.nom}} {{c.prenom}}</h4></a>
          date de naissance : <span class="glyphicon glyphicon-calendar"></span> <span class="date" ng-bind="c.date_naissance | date:'dd/MM/yyyy'"></span><br/>
        </div>
      </div>
    </div>
  <!-- </ul> -->
</div>
