<div ng-app="angularApp" ng-controller="StationsCtrl">

  <div id="map"></div>

  <div class="legend">
    <p><img ng-src="images/marker1.png" alt="Places disponibles"/>Des places sont disponibles</p>

    <p><img ng-src="images/marker2.png" alt="Places disponibles"/>Aucune place n'est disponible</p>
  </div>


  <div ng-show="nearestStation != null">
    <div class="station well">
      <h1>Station la plus proche</h1>

      <h3><a href="#" ng-click="openInfoWindow($event, nearestStation)">{{nearestStation.station.idStation}} -
        {{nearestStation.station.ville}}</a></h3>
      {{nearestStation.station.adresse}}<br>
      {{nearestStation.station.code_postal}} {{nearestStation.station.ville}}
      <hr>
      <h4>Bornes</h4>

      <div class="list-group" ng-repeat="borne in nearestStation.station.Bornes | orderBy : 'etatBorne'">
        <li ng-if="!borne.etatBorne">{{borne.idBorne}} : Occupée <a href="">Véhicule ({{borne.idVehicule}})</a>
          <a class="btn btn-info" ng-click="reserver(borne.idVehicule)" >Réserver</a>
        </li>
        <li ng-if="borne.etatBorne">{{borne.idBorne}} : Libre</li>
      </div>
    </div>
  </div>


  <h1>Liste des stations</h1>
  <label>Rechercher : <input ng-model="searchText"></label>

  <div class="list-group" ng-repeat="marker in markers |  filter:{content: searchText} | orderBy : 'title' ">
    <div class="station well">
      <h3><a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a></h3>
      {{marker.station.adresse}}<br>
      {{marker.station.code_postal}} {{marker.station.ville}}
      <hr>
      <h4>Bornes</h4>

      <div class="list-group" ng-repeat="borne in marker.station.Bornes | orderBy : 'etatBorne'">
        <li ng-if="!borne.etatBorne">{{borne.idBorne}} : Occupée <a href="">Véhicule ({{borne.idVehicule}})</a></li>
        <li ng-if="borne.etatBorne">{{borne.idBorne}} : Libre</li>
      </div>
    </div>
  </div>
</div>
